<div class="header">
<div class="logo">
    <h1 class="name">My-Bank </h1> <img src="../../../assets/tinkoff.png" class="image">
</div>
<div class="bottons">
    <a class="help" href="">Помощь</a> 
        <div class="dropdown">
        <button class="menu">Меню</button> 
        <div class="dropdown-content">
            <a [routerLink]="['create_account']">Создать счет</a>
            <a [routerLink]="['balance']">Изменение баланса</a>
            <a [routerLink]="['tables']">Просмотреть таблицы</a>
        </div>
        </div>
</div>
</div>


