<div class="container">
    <div class="id">
        <p>{{Account.id}}</p>
    </div>
    <div class="first_name">
        <p>{{Account.first_name}}</p>
    </div>
    <div class="last_name">
        <p>{{Account.last_name}}</p>
    </div>
    <div class="birthday">
        <p>{{Account.birthday}}</p>
    </div>
    <div class="sex">
        <p>{{Account.sex}}</p>
    </div>
    <div class="account_number">
        <p>{{Account.account_number}}</p>
    </div>
    <div class="account_balance">
        <p>{{Account.account_balance}}</p>
    </div>
</div>
