.container{
    margin: 15px;
    padding-bottom: 25px;
    text-align: center;
    border: 3px solid black;
}
hr{
    width: 350px;
    margin-bottom: 25px 10px;
}
input[type=number]{
    width: 200px;
}
input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}
