<div class="tbl">
    <table>
        <caption>Стоимость валюты сегодня:</caption>
        <tbody>
            <tr>
                <th>Валюта</th>
                <th>Кол-во</th>
                <th>Стоимость</th>
            </tr>
            <tr>
                <th>{{babosiki[0].Cur_Name}}</th>
                <td>{{babosiki[0].Cur_Scale}}</td>
                <td>{{babosiki[0].Cur_OfficialRate}}</td>
            </tr>
            <tr>
                <th>{{babosiki[1].Cur_Name}}</th>
                <td>{{babosiki[1].Cur_Scale}}</td>
                <td>{{babosiki[1].Cur_OfficialRate}}</td>
            </tr>
            <tr>
                <th>{{babosiki[2].Cur_Name}}</th>
                <td>{{babosiki[2].Cur_Scale}}</td>
                <td>{{babosiki[2].Cur_OfficialRate}}</td>
            </tr>
        </tbody>
    </table>
</div>
